body {
    background-color: #000;
    overflow: hidden;
  }
  
  .vl {
      border-left: 6px solid white;
      height: 1500px;
      width: 1px;
      position: relative;
      left: 500px;
  }
  .history {
      color: white;
      border-bottom: 6px dotted white;
      width: 500px;
      text-align: center;
  }
  .button-roll {
      position: absolute;
      top: 800px;
      padding: 10px;
      background-color: white;
      width: 100px;
      height: 50px;
      cursor: pointer;
  }
  .button-middle {
      position: absolute;
      top: 800px;
      left: 400px;
      padding: 10px;
      background-color: white;
      width: 100px;
      height: 50px;
      cursor: pointer;
  }
  .line {
      border-top: 6px dotted white;
      position: absolute;
      width: 500px;
      top: 740px;
  }
  .history-container {
    position: absolute;
    z-index: 999;
    top: 114px;
    color: white;
  }

  .dice.one {
    transform: rotateY(360deg) rotateX(0deg) rotateZ(90deg);
    animation: none;
  }
  .dice.two {
    transform: rotateY(360deg) rotateX(0deg) rotateZ(90deg);
    animation: none;
  }
  .dice.three {
    transform: rotateY(90deg) rotateX(0deg) rotateZ(90deg);
    animation: none;
  }
  .dice.four {
    transform: rotateY(270deg) rotateX(0deg) rotateZ(90deg);
    animation: none;
  }
  .dice.five {
    transform: rotateY(90deg) rotateX(0deg) rotateZ(180deg);
    animation: none;
  }
  .dice.six {
    transform: rotateY(180deg) rotateX(0deg) rotateZ(90deg);
    animation: none;
  }